Repository phrazzld/scry: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

.lefthook.yml:

pre-commit:
  parallel: true
  commands:
    format:
      glob: "*.{js,jsx,ts,tsx,json,md}"
      run: prettier --write {staged_files}
    lint:
      glob: "*.{js,jsx,ts,tsx}"
      run: pnpm eslint --fix --cache {staged_files}
    secrets:
      run: gitleaks protect --staged

pre-push:
  commands:
    typecheck:
      run: pnpm tsc --noEmit --incremental
    test:
      run: pnpm test --changed
    convex-check:
      run: pnpm test:contract

docs: mark env validation task complete
  TODO.md
Due: format

feat: add Lighthouse CI workflow for performance budgets
  .github/workflows/lighthouse.yml
  TODO.md
  lighthouserc.json
Due: format

docs: mark Lighthouse CI task complete
  TODO.md
Due: format

docs: mark preview smoke tests complete
  TODO.md
Due: format

ci: add environment variable validation to quality job
  .github/workflows/ci.yml
  TODO.md
Due: format

docs: mark bundle size enforcement complete
  TODO.md
Due: format

feat: add preview deployment smoke tests
  .github/workflows/preview-smoke-test.yml
  TODO.md
Due: format

feat: consolidate security scanning into dedicated workflow
  .github/workflows/security.yml
  TODO.md
Due: format

feat: add bundle size limit enforcement
  .github/workflows/ci.yml
  .size-limit.json
  TODO.md
  package.json
  pnpm-lock.yaml
Due: format

docs: mark .only check task complete
  TODO.md
Due: format

docs: mark security workflow task complete
  TODO.md
Due: format

docs: mark Changesets setup complete
  TODO.md
Due: format

ci: add check to prevent .only in test commits
  .github/workflows/ci.yml
  TODO.md
Due: format

feat: set up Changesets for automated changelog and releases
  .changeset/README.md
  .changeset/config.json
  .github/workflows/release.yml
  TODO.md
  package.json
  pnpm-lock.yaml
Due: format

fix: resolve vitest config and pre-push hook errors
  .lefthook.yml
  vitest.config.ts
  vitest.workspace.ts
Due: format, lint

test: remove E2E template and stub tests (65% skip reduction)
  .eslintcache
  TODO.md
  tests/e2e/example-auth.test.ts
  tests/e2e/spaced-repetition.local.test.ts
  tests/e2e/spaced-repetition.test.ts
Due: format, lint

docs: document build script usage patterns in CLAUDE.md
  CLAUDE.md
Due: format

fix: resolve double deployment bug with context-specific build scripts
  .eslintcache
  BACKLOG.md
  TODO.md
  package.json
Due: format

test: verify build scripts work correctly
  TODO.md
Due: format

docs: audit health check coverage vs validate-env-vars.sh
  TODO.md
Due: format

refactor: remove impossible pre-flight env var validation
  .github/workflows/ci.yml
  CLAUDE.md
  TODO.md
  docs/SECURITY.md
  scripts/deploy-production.sh
  scripts/validate-env-vars.sh
Due: format

docs: verify post-deployment health checks remain intact
  TODO.md
Due: format

docs: create comprehensive environment variables reference
  docs/environment-variables.md
Due: format

docs: update TODO.md with completion summary
  TODO.md
Due: format

docs: mark all TODO.md tasks complete - Phase 3 finished
  TODO.md
Due: format

chore: mark Phase 3 infrastructure setup complete
  .github/PHASE3_COMPLETE.md
Due: format

ci: fix quality gates with Convex preview deployment + realistic coverage thresholds
  .github/workflows/ci.yml
  BACKLOG.md
  vitest.config.ts
Due: format, lint

chore: add .eslintcache to gitignore + apply formatting
  .gitignore
  vitest.config.ts
Due: format, lint

ci: make Lighthouse CI non-blocking
  .github/workflows/lighthouse.yml
Due: none

ci: fix Lighthouse CI and Preview Smoke Test failures
  .github/workflows/lighthouse.yml
  .github/workflows/preview-smoke-test.yml
  docs/operations/vercel-deployment-protection.md
  docs/operations/vercel-environment-setup.md
Due: format

chore: remove .eslintcache from version control
  .eslintcache
Due: none

ci: fix health check - capture and export NEXT_PUBLIC_CONVEX_URL
  .github/workflows/ci.yml
  CLAUDE.md
  docs/operations/ci-failure-analysis-2025-11-02.md
Due: format

ci: enhance release workflow with GitHub releases
  .github/workflows/release.yml
Due: none

ci: remove build verification - Vercel handles builds with deployment context
  .github/workflows/ci.yml
Due: none

chore: apply formatting from pre-commit hook
  app/library/_components/library-cards.tsx
  app/library/_components/library-pagination.tsx
  app/library/_components/library-tab-content.tsx
  components/review-flow.tsx
  components/ui/sheet.tsx
  hooks/use-review-flow.test.ts
  hooks/use-review-flow.ts
Due: format, lint

ci: remove deployment - let Vercel handle all deployments
  .github/workflows/ci.yml
  CLAUDE.md
  docs/operations/ci-failure-analysis-2025-11-02.md
  docs/operations/vercel-environment-setup.md
Due: format

docs: startup
  BACKLOG.md
  TASK.md
  TODO.md
Due: format

fix: address PR #50 review feedback
  .github/workflows/lighthouse.yml
  .github/workflows/preview-smoke-test.yml
  BACKLOG.md
  pnpm-lock.yaml
Due: format

fix(ci): resolve Lighthouse action version and coverage threshold issues
  .github/workflows/lighthouse.yml
  vitest.config.ts
Due: format, lint

perf: optimize database bandwidth by 90% (61GB → 5.9GB/month)
  BANDWIDTH_CRISIS_ANALYSIS.md
  TASK.md
  convex/spacedRepetition.ts
Due: format, lint
